.munch{ background:url("munch.png") top left no-repeat; }
.Untitled-3_r1_c1{ width:400px; height:399px; background-position:0 0; }
.Untitled-3_r1_c1_1{ width:400px; height:399px; background-position:-400px 0; }
