.nneutral{ background:url("nneutral.png") top left no-repeat; }
.neutral_r2_c1{ width:320px; height:316px; background-position:-10px -10px; }
.neutral_r2_c1_1{ width:320px; height:316px; background-position:-10px -336px; }
.neutral_r2_c1_2{ width:320px; height:316px; background-position:-10px -662px; }
.neutral_r2_c1_3{ width:320px; height:316px; background-position:-10px -988px; }
.neutral_r2_c1_4{ width:320px; height:316px; background-position:-10px -1314px; }
.neutral_r2_c1_5{ width:320px; height:316px; background-position:-10px -1640px; }

